<h3>Your login is: <%= current_user.email %></h3>
<ul>
  <li><%= link_to 'New quote!', new_quote_url %></li>
  <li><%= link_to 'Vote now!', new_vote_path %></li>
  <li><%= link_to 'Send email', send_cloud_image_mail_path, method: :post %></li>
</ul>

<%= image_tag "cloud.png" %>

<h2>Top10 Quotes: </h2>
<ul>
  <% @quotes.each do |quote| %>
    <li>
      <%= quote.label %>, score: <%= quote.score %>
    </li>
  <% end %>
</ul>

